
.flexcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 968px;
  text-align: center;
}

.formcontainer {
  border: 1px solid black;
  box-shadow: 3px 4px 5px 5px #000000ac;
  width: 500px;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}

.loginform {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.navlink {
  padding: 5px;
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
  font-size: 18px;
}
.loginform p {
  font-weight: bold;
}
.error{
  color: red;
  font-size: 17px;
}

