 
 .maincontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .inputfield{
    width: 600px;
    height: 2.5rem;
  }
 .image {
  width: 200px;
  height: 290px;
}
.mainproductcontent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
  padding: 50px 50px;
  column-gap: 20px;
}
.itemsection {
  border: 1px solid rgb(40, 39, 39);
  background-color:whitesmoke;
  border-radius: 20px;
  display: flex;
  padding: 20px 20px;
  column-gap: 30px;
}
.productinfo {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  color: black;
  font-size: 18px;
}
.addcart{
    font-size: 20px;
    border: 1px solid rgb(37, 37, 37);
    font-weight: bold;
    background-color:rgba(10, 7, 7, 0.865);
    width: 150px;
    color: rgb(255, 252, 252);
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
}
.price{
    border: 1px solid black;
    text-align: center;
    height: 25px;
    width: 107px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.867);
    font-weight: bold;
}
.category{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(6, 6, 6)
}
.loader{
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
}
.paragraph{
  position: fixed;
  left: 45%;
  top: 50%;
  font-size: 35px;
  word-spacing: 5px;
  color: brown;
}
.menubar{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  gap: 40px;
  position: fixed;
  top: 100px;
  background-color:dimgray;
  height: 868px;
  color: rgb(255, 253, 255);
  font-size: 20px;
  padding: 40px;
}
li{
  list-style: none;
  cursor: pointer;
}
ul{
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
}
.searchcontainer{
  display: flex;
  margin-top: 25px;
  column-gap: 10px;
}
 .selectbtn{
  width: 300px;
  height: 2.5rem;
  text-align: center;
  background-color: rgba(5, 3, 7, 0.446);
  font-size: 15px;
  color: white;
}

/* .optioncontent {
  font-size: 16px;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
} */

/* .optioncontent:last-child {
  border-bottom: none;
} */

/* Responsive styles for screens less than 600px */
@media screen and (max-width: 1268px) {
  .maincontainer {
    width: 100%;
  }

  .inputfield {
    width: 90%;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .mainproductcontent {
    grid-template-columns: auto auto;
    padding: 50px;
  }
}

/* Responsive styles for screens less than 400px */
@media screen and (max-width: 767px) {
  .inputfield {
    width: 100%;
  }
  .searchcontainer{
    flex-direction: column;
    margin-top: 20px;
    row-gap: 10px;
  }

  .mainproductcontent {
    grid-template-columns: auto;
  }
}


