
.flexcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 1082px; 
}

.formcontainer {
  /* border: 1px solid rgb(2, 2, 2); */
  box-shadow: 3px 4px 5px 5px #000000ac;
  width: 680px;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}

.signupform {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  
}

.navlink {
  padding: 5px;
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
  font-size: 18px;
}
.signupform p {
  font-weight: bold;
}
.error {
  color: red;
}
.city{
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
}
.city:hover{
  border: none;
}
.citycontainer{
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: bold;
  color: #383737;
}

