.navbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: rgb(19, 47, 29);
  padding: 10px;
}
.btn {
  width: 60px;
  background-color: rgb(249, 249, 249);
  text-align: center;
  font-size: 25px;
  color: white;
  padding: 2px;
  height: 54px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 3px 3px rgb(8, 6, 6);
  
}
.btn:active {
  transform: scale(1.1);
}

.btn:hover {
  text-decoration: underline;
  box-shadow: none;
}
.image {
  height: 50px;
  width: 50px;
}

.header {
  color: white;
  font-size: 45px;
}
.usermanage {
  display: flex;
  column-gap: 10px;
}
.cartbtn {
  width: 60px;
  background-color: rgb(249, 249, 249);
  text-align: center;
  font-size: 25px;
  color: rgb(0, 0, 0);
  height: 54px;
  border: none;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 3px 3px rgb(8, 6, 6);
}
.cartbtn:active {
  transform: scale(1.1);
}
.cartbtn:hover {
  text-decoration: underline;
  box-shadow: none;
}
.totalquantity {
  border-radius: 30%;
  background-color: brown;
  color: white;
  position: absolute;
  top: 16px;
  right: 83px;
  width: 25px;
  text-align: center;
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .btn,
  .cartbtn,
  .usermanage {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .btn,
  .cartbtn,
  .usermanage {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 365px) {
  .usermanage {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #000;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .menubtn {
    border: 1px solid white;
    border-radius: 30%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    cursor: pointer;
  }
  
  .header {
    font-size: 3rem;
  }
  
  .usermanage {
    display: flex;
    justify-content: flex-end;
    column-gap: 2rem;
    width: 50%;
  }
  
  .store {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: fixed;
    top: 1rem;
    right: 7rem;
    background-color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
  }
  
  .logoutbtn {
    border-radius: 50%;
    height: 3rem;
    background-color: white;
  } */

/* @media (max-width: 768px) {
    .navbar {
      padding: 1rem;
    }
  
    .header {
      font-size: 2.5rem;
    }
  
    .inputfield {
      width: 100%;
    }
  
    .usermanage {
      width: 100%;
      justify-content: space-between;
    }
  
    .store {
      right: 2rem;
    }
  }
  */
