.productdetail {
  border: 1px solid black;
  display: flex;
  column-gap: 40px;
  padding: 30px;
  background-color:white;
  border-radius: 10px;
  color:black;
  overflow: hidden;
  box-shadow: 3px 4px 5px 5px #000000ac;
  height: 800px;
  width: 1300px;
}
.productcontainer {
  background-color: #41554dd8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 893px;
}
.productinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 40px;
}
.image-container {
  display: flex;
  column-gap: 20px;
}
.productinfo h2 {
  width: 150px;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  background-color:rgba(191, 186, 186, 0.96);
  color: black;
}

.image-container img {
  cursor: pointer;
}
.image-container img.active {
  transform: scale(1.2);
}

.crtbtn {
  font-size: 25px;
  border: 1px solid rgb(37, 37, 37);
  font-weight: bold;
  background-color: rgba(20, 19, 20, 0.747);
  width: 200px;
  color: rgb(255, 255, 255);
  height: 60px;
  border-radius: 10px;
}
.crtbtn:active {
  transform: scale(1.1);
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
}

@media only screen and (max-width: 652px) {
  .productdetail {
    flex-direction: column;
    margin-top: 120px;
  }
  .productcontainer {
    height: 100%;
    width: 100%;
  }
  .main-img {
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 1281px) {
  .productdetail {
    padding: 30px;
    margin-top: 120px;
    overflow: visible;
    height: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
  .main-img {
    height: 250px;
    width: 400px;
  }
}
