.commonbutton {
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  height: 40px;
  background-color: rgb(151, 55, 242);
  color: white;
  font-weight: bold;
  border: 1px solid rgb(94, 94, 94);
}
