.inputcontainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputcontainer label {
  font-weight: bold;
  font-size: 1rem;
  color: #383737;
}

.inputcontainer input {
  border-radius: 5px;
  border: 1px solid #eee;
  outline: none;
  padding: 8px 15px;
  color: #000;
}

.inputcontainer input:hover {
  border-color: #ccc;
}

.inputcontainer input:focus {
  border-color: #9900ff;
}
